.body {
    background-color:rgb(30, 30, 34) ;
}
.logo{
    width: fit-content;
    position: absolute;
    background-color: aliceblue;
    height: 90px;
    border-radius: 60px;
    top: 30px;
    left: 30px;
}
.text{
    font-size: 60px;
    width: 400px;
    margin-top: 200px;
}
.request{
    margin-top: 20px;
    font-size: 20px;
}
.number{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}
.text,.request,.number{
    color:rgb(216, 191, 216);
    margin-left: 50px;
}
.facebook{
    margin-top: 20px;
    margin-left: 50px;
}
.facebook,.ig,.twitter{
    height: 30px;
    background-color:rgb(216, 191, 216);
    border-radius: 8px;
}
.ig,.twitter{
    margin-left: 10px;
}
.facebook:hover,.ig:hover,.twitter:hover{
    scale: 1.2;
}
.login-form{
    position: absolute;
    background-color:whitesmoke;
    top: 150px;
    left: 700px;
    height:450px;
    width: 330px;
    border-radius: 10px;

}
.sign-up{
    font-size: 23px;
    font-weight: 550;
    margin-left: 110px;
    margin-top: 30px;
}
.start{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 90px;
}
.username,.email,.password{
    height: 25px;
    width:220px ;
    border:solid  1px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 40px;
}
.username:placeholder-shown,.email:placeholder-shown{
    font-size: 15px;
}
.sign-up-button{
    height: 30px;
    width: 230px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin-left: 40px;
    margin-top: 15px;
    background-color:rgb(30, 30, 34) ;
}
.already{
    margin-left: 50px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.user-name-label{
    margin-left: 30px;
    
}
.email-label{
    margin-left: 30px;
    margin-top: 5px;
    border:none;
    
}
.email-input{
    margin-top: 10px;
    margin-left: 38px;
   
}
.number-label{
    margin-left: 30px;
    margin-top: 5px;
   
}
.number-input{
    margin-left: 21px;
    margin-top: 5px;
}
.password-label{
    margin-left: 30px;
    
}
.password-input{
    margin-top: 5px;
    margin-left: 12px;
}

