.body {
    background-color:rgb(30, 30, 34) ;
}
.header{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;    
}
.logo-image{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-left: 90px;
    background-color: white;
}
.option-container{
    display: flex;
    column-gap: 50px;
    font-size: 18px;
}

.log-in,.sign-up{
    height:45px;
    width: 120px;
    /* padding: 12px 27px; */
    background-color: rgb(216, 191, 216);
    border-radius: 10px;
    font-size: 18px;

}
.sign-up{
    margin-right: 130px;
    margin-left: 10px;
}
.features:hover,
.pricing:hover,
.help:hover,
.blog:hover,
.about-us:hover{
    color: rgb(216, 191, 216) ;
    cursor: pointer;
}

.container-2{
    display: flex;
}
.details{
    flex:0 0  50vw;
}
.text-1{
    margin-top: 170px;
    color:rgb(216, 191, 216);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 85px;
    word-spacing: 5px;
    letter-spacing: 5px;
    

}
.text-2{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 20px;
    color:rgb(216, 191, 216);
    font-family: Arial;
    font-size: 60px;
    font-weight: 550;

}
.download-button{
    margin-left: 80px;
    margin-top: 15px;
    padding: 10px 14px;
    border-radius: 6px;
    background-color:rgb(216, 191, 216);
    font-size: 19px;
    border: none;
}
.download-image{
    position: relative;
    top: 4px;
    width: 20px;
}



 

  